<div class="reputation-wrapper">
  <!-- Header -->
  <div class="header">
    <h1>Reputation</h1>
  </div>

  <!-- Stars Received -->
  <div class="stars-received">
    <div class="stars-received-header">
      <h2>Stars received</h2>
    </div>
    <div class="stars-received-content">
      <p><span class="stars">{{ renderStars(info.rating) }}</span></p>
      <p class="stars-received-info">Out of {{ info.clients }} clients</p>
    </div>
  </div>

  <!-- Comments -->
  <div class="comments">
    <div class="comments-header">
      <h2>Comments</h2>
    </div>
    <div class="comments-list">
      <div *ngFor="let comment of comments" class="comment-card">
        <div class="comment">
          <div class="comment-avatar">
            <i class="pi pi-user"></i>
          </div>
          <div class="comment-content">
            <h4>{{ comment.author }}</h4>
            <p>{{ comment.text }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
