.reputation-wrapper {
  max-width: 450px;
  background-color: #ffcfbb;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 850px;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  margin-left: 150px;

}

.header {
  background-color: #ff5a22;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 1rem;
  margin: 0;
  width: 100%;
}

.header h1 {
  margin: 0;
  font-size: 2.3rem; /* Mismo tamaño de fuente */
  padding: 20px 0; /* Misma cantidad de padding */
}

h1 {
  margin: 0;
  font-size: 2.3rem;
}

.stars-received {
  padding: 20px 25px;
}

.stars-received-header h2 {
  margin: 0;
  font-size: 1.5rem;
}

.stars-received-content {
  text-align: center;
  margin-top: 10px;
}

.stars {
  font-size: 60px;
  margin: 0;
}

.stars-received-info {
  font-size: 1rem;
}

.comments {
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.comments-header h2 {
  margin: 0;
  font-size: 1.5rem;
  text-align: left;
}

.comments-list {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  min-height: 0;
}

.comment-card {
  background-color: #faeae7;
  padding: 10px;
  border-radius: 5px;
}

.comment {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.comment-avatar {
  flex-shrink: 0;
  margin: 20px;
}

.comment-content h4 {
  margin: 0;
  font-size: 1rem;
}

.comment-content p {
  margin: 5px 0 0 0;
  font-size: 0.9rem;
  color: #333;
}
