
<div class="sign-up-page">
  <app-auth-background></app-auth-background>

  <div class="section-signup">
    <h1>What are you interested in?</h1>
    <div class="option-group">
      <button  class="option-button" (click)="goToSignUpWorkers()">I am an employee!</button>
      <p>Order a whole menu for each of your coworkers at the palm of your hand.</p>
      <button class="option-button" (click)="goToSignUpRestaurants()">I am the owner of a restaurant!</button>
      <p>Advertise your restaurant, increase the number of clients monthly and <br> have a good organization of each order.</p>
    </div>
  </div>
</div>
