.rol-container {
  display: flex;
  justify-content: flex-start;
  gap: 80px;
  margin-left: 350px;
  margin-top: 110px;
}

.roles {
  padding: 55px;
  margin-left: 80px;
}

.role-header {
  background-color: #FF7338;
  padding: 20px;
  border-radius: 0;
  max-width: 950px;
  text-align: center;
  max-height: 90px;
  font-size: 24px;
  color: #FFFFFF;
  font-weight: bold;
  margin-left: 0;
}

.role-selection {
  background-color: #FFCFBB;
  padding: 5rem;
  border-radius: 0;
  min-width: 800px;
  min-height: 574px;
  margin: auto;
  text-align: center;
}

.role-buttons {
  display: flex;
  flex-direction: column;
  gap: 7rem; /* Espacio entre los contenedores de los botones */
  margin-top: 35px;
}

.role-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  font-size: 14px;
  color: #000000;
  margin-top: 10px;
}

.rol-button {
  background-color: #FF7338;
  border-radius: 5px;
  padding: 30px 90px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  min-height:82px;
  min-width: 281px;
  margin: 25px;
}

.rol-button p {
  color: white;
  margin: 0;
}

.rol-button:hover {
  background-color: #ff9f33;
}
