<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened class="sidenav-content" position="start">
    <div class="menu-section">
      <button mat-button><mat-icon>home</mat-icon>Home</button>
      <button mat-button><mat-icon>storefront</mat-icon>Restaurants</button>
      <button mat-button><mat-icon>inventory</mat-icon>My orders</button>
      <button mat-button><mat-icon>inventory</mat-icon>Team activities</button>
      <button mat-button><mat-icon>person</mat-icon>Profile</button>
      <button mat-button><mat-icon>notifications</mat-icon>Notifications</button>
      <img src="./images/logo.png" alt="GastroGo Logo" class="logo" >
      <div class="footer-content">
        <button mat-button><mat-icon>logout</mat-icon>Logout</button>
      </div>

    </div>
  </mat-sidenav>
</mat-sidenav-container>
