<div class="rol-container">
  <app-side-navigator-bar></app-side-navigator-bar>

  <div class="roles">
    <div class="role-header">
      What is your role?
    </div>
    <div class="role-selection">
      <div class="role-buttons">
        <div class="role-item">
          <button mat-button class="rol-button"><p>Team Leader</p></button>
          <p class="description">*You will be the one making the order for your team!</p>
        </div>
        <div class="role-item">
          <button mat-button class="rol-button"><p>Team Member</p></button>
          <p class="description">*You will join the team of your leader and vote for the restaurant you want!</p>
        </div>
      </div>
    </div>
  </div>
</div>
