
.tracker-container {
  background-color: #ffe0cc;
  padding: 20px;
  width: 25%;
  margin: 0 auto;
  border-radius: 8px;
  text-align: center;
  font-family: Arial, sans-serif;
}



.tracker-container h1 {
  font-size: 24px;
  color: #333;
  margin: 0;
}

.subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}


.map-placeholder {
  background-color: #eee;
  padding: 10px;
  margin: 20px 0;
  border-radius: 8px;
}

.map-placeholder img {
  width: 100%;
  border-radius: 8px;
}


.order-status {
  background-color: #ffe8de;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.order-status p {
  margin: 0;
  color: #333;
}

.status-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.status-row label {
  font-size: 14px;
  color: #333;
}

.status-row input {
  font-size: 14px;
  padding: 5px;
  width: 100px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.estimated-time {
  font-size: 14px;
  color: #333;
  margin-top: 10px;
  font-weight: bold;
}

read-more-button {
  background-color: #FF8C00;
  border-radius: 5px;
  padding: 16px 70px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
}

.read-more-button p {
  color: white;
  margin: 0;
}

.read-more-button:hover {
  background-color: #ff9f33;
}
button {
  background-color: #FF8C00;
  color: white;
  padding: 16px 70px;
  margin-left: 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;

}
