<div style="display: flex; flex-direction: row;">
  <app-side-navigator-bar></app-side-navigator-bar>
<div class="tracker-container">

  <h1>Order Tracker</h1>
  <p class="subtitle">Check where your order is!</p>


  <div class="map-placeholder">
    <img src="assets/map-placeholder.png" alt="Map" />
  </div>

  <div class="order-status">
    <p>Your order is:</p>
    <div class="status-row">
      <label>Status</label>
      <input type="text" value="In Process" readonly />
    </div>
    <div class="status-row">
      <label>Will arrive in</label>
      <input type="text" value="10 minutes" readonly />
    </div>
    <p class="estimated-time">Estimated time to arrive: Between 13:50 - 14:00</p>
  </div>
  <div class="buttons">

  <button class="read-more-button" [routerLink]="['/order']">Go Back To Orders</button>
</div>
</div>
