<div class="conteiner-navigator-view">
  <app-side-navigator-bar-restaurants></app-side-navigator-bar-restaurants>
  <div class="profile-container">

    <div class="profile-form-container">

      <div class="container-son">
        <div class="tittle">
          <h2>Order Details</h2>
          <p>Enter the hour you want to receive your order</p>
          <p> *You only have 2 minutes to cancel the order after it’s done</p>
        </div>
        <div class="white-rectangle">
          <div class="left-section">
            <p>Restaurant: Ochi</p>
            <p>Date: 08/10/2024</p>
            <p>Delivery Time: 14:00</p>
          </div>
          <div class="right-section">
            <p>Order Id: #00000001</p>
            <p>Status: In process</p>
            <p></p>
          </div>
        </div>

        <div style="display: flex; flex-direction: row; justify-content: space-between" class="edit-button">
          <p></p>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>
        </div>

        <div class="white-rectangle">
          <div class="menu-section">
            <h3>Appetizers</h3>
            <div class="menu-itemH">
              <p>Edamame</p>
              <input type="text" value="20" />
              <p>Gyozas</p>
              <input type="text" value="05" />
            </div>
            <h3>Main Dishes</h3>
            <div class="menu-itemH">
              <p>Sushi Nigiri</p>
              <input type="text" value="21" />
              <p>Ramen de Cerdo</p>
              <input type="text" value="04" />
            </div>
            <h3>Drinks</h3>
            <div class="menu-itemH">
              <p>Sake</p>
              <input type="text" value="05" />
              <p>Té Verde</p>
              <input type="text" value="20" />
            </div>
          </div>
        </div>

        <div class="buttons">
          <button class="read-more-button" [routerLink]="['/menu']">Cancel</button>
          <button class="read-more-button" (click)="PaymentButton=true">Pay Order</button>
        </div>

        <div *ngIf="PaymentButton" class="modal-overlay">
          <div class="modal">
            <div class="modal-sub-sub" >
              <h2>Details of the Payment</h2>
              <p>*Remember that payment will be charged from each team member's (including leader) account on an equal manner.</p>
            </div>
            <div class="modal-sub">
                <div class="modal-sub-1">
                  <p>Legends</p>
                  <p>Order #00000001</p>
                  <p>Each member pays:</p>
                  <p>Each member pays for tip:</p>
                </div>
                <div class="modal-sub-1">
                  <p>25 workers</p>
                  <p>Total: S/. 400.50</p>
                  <p>S/. 16.02</p>
                  <p>S/. 07.00</p>
                </div>
            </div>
            <button class="modal-button" [routerLink]="['/menu']">Confirm Payment</button>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
