.login-page {
  display: flex;
  height: 100vh;
}

.plans-description {
  font-size: 20px;
}

.login-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #fdeae8;
  padding: 20px;
  margin-left: 290px;
}

.Logo {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 150px;
}

.login-section h1 {
  font-size: 45px;
  margin: 20px 0;
  text-align: center;
}

.plan-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0;
  gap: 30px;
}

.plan-card {
  background-color: #fab091;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 240px;
  max-width: 255px;
}

.plan-card h3 {
  margin: 0 0 10px;
  text-align: center;
}

.price {
  margin-top: auto;
  text-align: center;
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.continue-button {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  background-color: #ff6f3f;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 295px;
}

.continue-button:last-child {
  margin-right: 0;
}

.continue-button:hover {
  background-color: #ff5a21;
}

.premium-button {
  margin-left: 10px;
}
