<div class="login-page">
  <app-auth-background></app-auth-background>

  <div class="login-section">
    <h1>Two plans available</h1>
    <p class="plans-description">Two plans for you and your team, choose the one that fits you better!</p>

    <div class="plan-section">
      <div class="plan-card basic">
        <h3>Basic</h3>
        <p>• You will have all the features available.</p>
        <p class="price"><strong>Free</strong></p>
      </div>

      <div class="plan-card premium">
        <h3>Premium</h3>
        <p>• All the features are available!</p>
        <p>• Get your orders faster!</p>
        <p>• Don't pay delivery!</p>
        <p>• Have special and exclusive discounts and offers for your team!</p>
        <p class="price"><strong>S/. 200 / monthly</strong></p>
      </div>
    </div>

    <div class="button-group">
      <button type="submit" class="continue-button" (click)="goToHome()">Continue in the app</button>
      <button type="submit" class="continue-button premium-button" (click)="goToPayment()">Go to the next step</button>
    </div>
  </div>

</div>
