.profile-container {
  flex-basis: content;
  flex-direction: column;
  align-items: center;
  padding: 80px;
}

.profile-header {
  background-color: #FF7F50;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 20px;
}

.profile-header h2 {
  color: #ffffff;
  margin: 0;
  text-align: center;
  align-items: center;
}

.profile-form-container {
  display: flex;
  justify-content: space-around;
  background-color: #FFCFBB;
  padding: 30px;
}

.name-last-name{
  display: flex;
  flex-direction: row;
}

.telefono-dni{
  display: flex;
  flex-direction: row;
}
.profile-form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  font-size: 14px;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.save-button {
  background-color: #FF8C00;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  font-weight: bold;
}

.save-button:hover {
  background-color: #ff9f33;
}

.space-form-suscription{
  padding: 30px;
}
.space-name-lastname{
  padding: 10px;
}
.subscription-box {
}

.subscription-box h3 {
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
}

.conteiner-subscription-title{
  background-color: #FF7F50;
  margin-bottom: 0px;
  color: white;
  padding-bottom:5px;
  margin-top: 20px;
  vertical-align: middle;
  horiz-align: center;
}

.subs-team-paid {
  display: flex;
}

.subscription-details {
  font-size: 16px;
  background-color: #ffffff;
  margin-top: 0px;
  padding: 20px;
}

.payment-options {
  margin-top: 20px;
}

.payment-options .option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.payment-options label {
  margin-left: 10px;
}
