<div class="login-page">
  <app-auth-background></app-auth-background>

  <div class="login-section">
    <h1>This is your plan</h1>
    <div class="section-plan">
      <p>A plan specially made for your restaurant to increase its sellings. Just one more step and the benefits will be all yours!</p>
      <ul>
        <li>Advertise your restaurant with us!</li>
        <li>Have a real-time tracker for each order to avoid issues</li>
        <li>Prioritize large groups of orders</li>
      </ul>
      <p>All for S/. 400 monthly</p>
    </div>
    <button (click)="goToPayment()" type="submit" class="continue-button">Continue</button>
  </div>

  <img src="assets/logo-gastrogo.png" alt="GastroGo Logo" class="Logo" />
</div>
