<div style="display: flex; flex-direction: row;">
  <app-side-navigator-bar></app-side-navigator-bar>
<div class="menu-container">
  <div class="menu-sub-container">
    <h1>Menu - Restaurant’s Name</h1>
    <p>Enter the amount of dishes you would like to include in your order</p>

    <table>
      <thead>
      <tr>
        <th></th>
        <th>Stock</th>
        <th>Quantity</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Appetizers</td>
      </tr>
      <tr>
        <td>Edamame</td>
        <td><input type="text" value="23" readonly></td>
        <td><input type="text" value="20"></td>
      </tr>
      <tr>
        <td>Gyozas</td>
        <td><input type="text" value="20" readonly></td>
        <td><input type="text" value="05"></td>
      </tr>
      <tr>
        <td>Main Dishes</td>
      </tr>
      <tr>
        <td>Sushi Nigiri</td>
        <td><input type="text" value="21" readonly></td>
        <td><input type="text" value="21"></td>
      </tr>
      <tr>
        <td>Ramen de Cerdo</td>
        <td><input type="text" value="42" readonly></td>
        <td><input type="text" value="04"></td>
      </tr>
      <tr>
        <td>Drinks</td>
      </tr>
      <tr>
        <td>Sake</td>
        <td><input type="text" value="15" readonly></td>
        <td><input type="text" value="05"></td>
      </tr>
      <tr>
        <td>Te Verde (Matcha)</td>
        <td><input type="text" value="30" readonly></td>
        <td><input type="text" value="20"></td>
      </tr>
      </tbody>
    </table>

    <button>Order</button>
  </div>
</div>
</div>
