<div class="profile-container">
  <div class="profile-header">
    <h2>Restaurants</h2>
  </div>

  <div class="component-container">
    <div class="search-filters-container">
      <div class="search-container">
        <label for="typeOfFood">Search for a restaurant</label>
        <div class="search-button-container">
          <form class="search-autocomplete">
            <input
              type="text"
              placeholder="delicious search"
              aria-label="Searching">
          </form>
          <button class="save-button" (click)="search()">Search</button>
        </div>
      </div>

      <div class="select-container">
        <label for="typeOfFood">Type of food</label>
        <select id="typeOfFood" [(ngModel)]="selectedFood">
          <option *ngFor="let food of foodOptions" [value]="food">{{food}}</option>
        </select>
      </div>

      <div class="select-container">
        <label for="rating">Rating</label>
        <select id="rating" [(ngModel)]="selectedRating">
          <option *ngFor="let rating of ratingOptions" [value]="rating">{{rating}}</option>
        </select>
      </div>
    </div>

    <div class="cards">
      <!--card-->
      <div class="restaurant-card">
        <mat-card>
          <div class="card-content">
            <div class="image-container">
              <img src="assets/images/Palm_&_Vine.png" alt="Restaurant Image"/>
            </div>
            <div class="info-container">
              <p class="restaurant-title">Ochi</p>
              <div class="details-container">
                <p> Address: Santiago de Surco, El Polo, 101</p>
                <p> Schedule: 12:00 - 18:00</p>
                <p class="rating-label">Rating:
                  <mat-icon class="rating-star">star</mat-icon>
                  <mat-icon class="rating-star">star</mat-icon>
                  <mat-icon class="rating-star">star</mat-icon>
                  <mat-icon class="rating-star">star</mat-icon>
                  <mat-icon class="rating-star">star</mat-icon>
                </p>
              </div>
              <button class="read-more-button"><p>Read more</p></button>
            </div>
          </div>
        </mat-card>
      </div>
      <!--card-->
      <div class="restaurant-card">
        <mat-card>
          <div class="card-content">
            <div class="image-container">
              <img src="assets/images/Palm_&_Vine.png" alt="Restaurant Image"/>
            </div>
            <div class="info-container">
              <p class="restaurant-title">Ochi</p>
              <div class="details-container">
                <p> Address: Santiago de Surco, El Polo, 101</p>
                <p> Schedule: 12:00 - 18:00</p>
                <p class="rating-label">Rating:
                  <mat-icon class="rating-star">star</mat-icon>
                  <mat-icon class="rating-star">star</mat-icon>
                  <mat-icon class="rating-star">star</mat-icon>
                  <mat-icon class="rating-star">star</mat-icon>
                  <mat-icon class="rating-star">star</mat-icon>
                </p>
              </div>
              <button class="read-more-button"><p>Read more</p></button>
            </div>
          </div>
        </mat-card>
      </div>
      <!--card-->
    </div>

  </div>
</div>
