<div class="profile-container">
  <div class="profile-header">
    <h2>Restaurants</h2>
  </div>

  <div class="component-container">

    <div class="search-filters-container">
      <div class="search-container">
        <label for="typeOfFood">Type of food</label>
        <div class="search-button-container">
          <form class="search-autocomplete">
            <input
              type="text"
              placeholder="delicious search"
              aria-label="Searching"
              [(ngModel)]="searchQuery"
              (input)="filterOptions()">
            <ul *ngIf="filteredOptions.length > 0">
              <li *ngFor="let option of filteredOptions" (click)="selectOption(option)">
                {{option}}
              </li>
            </ul>
          </form>
          <button class="save-button" (click)="search()">Search</button>
        </div>
      </div>


      <div class="select-container">
        <label for="typeOfFood">Type of food</label>
        <select id="typeOfFood" [(ngModel)]="selectedFood">
          <option *ngFor="let food of foodOptions" [value]="food">{{food}}</option>
        </select>
      </div>

      <div class="select-container">
        <label for="rating">Rating</label>
        <select id="rating" [(ngModel)]="selectedRating">
          <option *ngFor="let rating of ratingOptions" [value]="rating">{{rating}}</option>
        </select>
      </div>
    </div>

    <div class="Cards">
      <div class="restaurant-card">
        <img class="restaurant-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9zXJNyANS8TG8NHjHX4hUdaU_Q6VQSKaMQg&s" alt="Restaurant Image">

        <div class="restaurant-info">
          <h2 class="restaurant-title">Restaurant Name</h2>
          <p class="restaurant-address">Address: 1234 Food St, Culinary City</p>
          <p class="restaurant-schedule">Schedule: 10:00 AM - 10:00 PM</p>
          <p class="restaurant-rating">Rating: ⭐⭐⭐⭐</p>
          <button class="read-more-button">Read More</button>
        </div>
      </div>

      <div class="restaurant-card">
        <img class="restaurant-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9zXJNyANS8TG8NHjHX4hUdaU_Q6VQSKaMQg&s" alt="Restaurant Image">

        <div class="restaurant-info">
          <h2 class="restaurant-title">Restaurant Name</h2>
          <p class="restaurant-address">Address: 1234 Food St, Culinary City</p>
          <p class="restaurant-schedule">Schedule: 10:00 AM - 10:00 PM</p>
          <p class="restaurant-rating">Rating: ⭐⭐⭐⭐</p>
          <button class="read-more-button">Read More</button>
        </div>
      </div>
    </div>

  </div>
</div>
