<div class="join-container">
  <div class="join-header">
    Team Member
  </div>
  <div class="join-content">
    <div class="card-container">
      <mat-card>
        <div class="card-header">
          Join a Team
        </div>
        <div class="card">
          <div class="join-team-form">

            <label for="teamCode" class="label">Enter code to join:</label>
            <mat-form-field appearance="fill" class="input-field">
              <mat-label>Enter the code here</mat-label>
              <input matInput [(ngModel)]="teamCode" id="teamCode" placeholder="Enter the code here">
            </mat-form-field>
          </div>

          <button mat-raised-button color="primary" class="join-button" (click)="joinTeam('member')">
            Join
          </button>
        </div>
      </mat-card>
    </div>
    <p class="description">
      *The leader will provide you an unique code to join the team and process the orders.
    </p>
  </div>
</div>
