<div class="profile-container">


  <div class="profile-form-container">
    <div class ="container-son" >
      <div class = "tittle">
        <h2 > Order Details</h2>
        <p>Check the details of your order or cancel it </p>

      </div>
      <div class="white-rectangle order-details">
        <div class="left-section">
          <h3>Restaurant: Ochi</h3>
          <p>Date: 08/10/2024</p>
          <p>Delivery Time: 14:00</p>
          <p>Estimated Time: Between <span class="estimated-time">13:50 - 14:00</span></p>
        </div>
        <div class="right-section">
          <p>Order Id: #00000001</p>
          <div class="status-container">
            <label for="status">Status: </label>
            <select id="status" class="status-dropdown">
              <option value="In Process">In Process</option>
              <option value="Delivered">Delivered</option>
              <option value="Canceled">Canceled</option>
            </select>
          </div>
          <button class="update-status">Update Status</button>
        </div>
      </div>

      <div class="white-rectangle">
        <div class="menu-section">
          <h3>Appetizers</h3>
          <div class="menu-itemH">
            <p>Edamame</p>
            <input type="text" value="20" />
            <p>Gyozas</p>
            <input type="text" value="05" />
          </div>

          <h3>Main Dishes</h3>
          <div class="menu-itemH">
            <p>Sushi Nigiri</p>
            <input type="text" value="21" />
            <p>Ramen de Cerdo</p>
            <input type="text" value="04" />
          </div>

          <h3>Drinks</h3>
          <div class="menu-itemH">
            <p>Sake</p>
            <input type="text" value="05" />
            <p>Té Verde</p>
            <input type="text" value="20" />
          </div>
        </div>
      </div>








      <div class="buttons">
        <button>Go back to Orders</button>
        <button>Cancel Order</button>
      </div>
    </div>


  </div>
</div>

