.main-container {
  display: flex;
  justify-content: flex-start;
  gap: 80px;
  margin-left: 260px;
  margin-top: 20px;
}

.orders-container {
  padding: 20px;
  min-width: 750px;
}

.header-container {
  background-color: #FF7F50;
  padding: 20px;
  border-radius: 0px;
  margin-bottom: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.orders-title {
  margin: 0;
  font-size: 28px;
  text-align: center;
}

.orders-list {
  background-color: #FFCFBB;
  padding: 40px;
  border-radius: 8px;
  min-height: 690px;
  margin-top: 0px;

}

.order-card {
  margin: 40px 0;
}

.order-content {
  display: flex;
  background: #FAEAE7;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-height: 250px;
  align-items: center;
  overflow: visible;
}

.order-icon {
  font-size: 9rem;
  margin-right: 20px;
  flex-shrink: 0;
  margin-top: 10px;
  margin-left: 30px;

  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  overflow: visible;
}

.info-container {
  margin-left: 30px;
  font-size: 16px;
  flex-grow: 1;
}

.details-container {
  margin-top: 30px;
}

.read-more-button {
  background-color: #FF8C00;
  border-radius: 5px;
  padding: 16px 70px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
}

.read-more-button p {
  color: white;
  margin: 0;
}

.read-more-button:hover {
  background-color: #ff9f33;
}

.order-title {
  font-size: 20px;
  margin-bottom: 5px;
  text-align: left;
  margin-left: 50px;

  font-weight: bold;

}
