<div class="conteiner-navigator-view">
  <app-side-navigator-bar-restaurants></app-side-navigator-bar-restaurants>
<div class="menu-container">
  <h2>Menus</h2>
  <div class="cards">
    <div class="menu-card">
      <div class="menu-icon">
        <mat-icon class="ico-menu">assignment</mat-icon>
      </div>
      <div class="menu-details">
        <h3>Menu #00001</h3>
        <p><strong>Date: </strong>08/10/2024</p>
        <button class="details-button" [routerLink]="['/menu-detail']">See details</button>
      </div>
    </div>

    <div class="menu-card">
      <div class="menu-icon">
        <mat-icon class="ico-menu">assignment</mat-icon>
      </div>
      <div class="menu-details">
        <h3>Menu #00001</h3>
        <p><strong>Date: </strong>08/10/2024</p>
        <button class="details-button" [routerLink]="['/menu-detail']">See details</button>
      </div>
    </div>

    <div class="menu-card">
      <div class="menu-icon">
        <mat-icon class="ico-menu">assignment</mat-icon>
      </div>
      <div class="menu-details">
        <h3>Menu #00001</h3>
        <p><strong>Date: </strong>08/10/2024</p>
        <button class="details-button" [routerLink]="['/menu-detail']">See details</button>
      </div>
    </div>

    <button class="add-menu-button" [routerLink]="['/menu-edit']">Add menu</button>
  </div>

</div>
</div>
