.member{
  display: flex;
  flex-direction: row;
}
.member-container {
  width: 800px;
  height: 880px;
  position: absolute;
  top: 90px;
  left: 540px;
  display: flex;
  flex-direction: column;
  border-radius: 5px 0px 0px 0px;
  opacity: 1;
  overflow: hidden;
}

.member-header {
  background-color: #FF7338;
  padding: 25px;
  text-align: center;
  font-size: 24px;
  color: white;
  font-weight: bold;
  border-radius: 5px 5px 0px 0px;
}

.member-content {
  background-color: #FFCFBB;
  padding: 20px ;
  border-radius: 0 0 8px 8px;
  max-width: 100%;
  margin: auto;
  text-align: center;
  display: grid;
  align-items: start;
}


.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: start;
  justify-content: center;
}



.card-header {
  background-color: #FF7338;
  padding: 15px;
  border-radius: 0px;
  text-align: center;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: bold;
}

.card {
  background-color: #FAEAE7;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
  height: auto;
}


.vote-options {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 10px;
  align-items: center;
}

.vote-item {
  display: contents;
}

.vote-item p {
  margin: 0;
}

.vote-button {
  background-color: #FF7338 ;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-self: center;
}

.results {
  margin-top: 0;
  justify-self: end;
}

.join-button {
  background-color: #FF7338;
  color: white;
  border: none;
  padding: 10px;
  width: 150px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.input-field {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #FF7338;
  width: 70%;
}
.vote-icon, .vote-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 10px;
}

.vote-text, .result-text {
  position: absolute;
  top: -20px;
  text-align: center;
}
