<div class="login-page">
  <app-auth-background></app-auth-background>

  <div class="register-section">
    <h1>Payment: Credit/Debit Card</h1>
    <div class="form-group">
      <div class="input-row">
        <div>
          <label class="input-small" for="name">Name</label>
          <input type="text" id="name" placeholder="Name" />
        </div>
        <div>
          <label class="input-small" for="lastNames">Last Names</label>
          <input type="text" id="lastNames" placeholder="Last Names" />
        </div>
      </div>

      <div>
        <label for="card-number">Card Number</label>
        <input type="text" id="card-number" placeholder="Card Number" />
      </div>
      <div class="input-row">
        <div class="input-small">
          <label for="expiry-date">Expiry Date</label>
          <input type="text" id="expiry-date" placeholder="Expiry Date" />
        </div>
        <div class="input-small">
          <label for="ccv">CCV</label>
          <input type="text" id="ccv" placeholder="CCV" />
        </div>
      </div>
      <button class="submit-button">Continue in the app</button>
    </div>
  </div>
</div>
