/* payment.component.css */
.login-page {
  display: flex;
  height: 100vh;
}

.register-section {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 350px;
}

.register-section h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-row {
  display: flex;
  gap: 75px;
}

input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 96%;
  margin-bottom: 5px;
}

.input-small {
  min-width: 100px;

}

label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

button.submit-button {
  background-color: #ff6f3f;
  color: white;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  width: 530px;
  max-width: 700px;
}

button.submit-button:hover {
  background-color: #e65b30;
}
